<!DOCTYPE html>
<html>
<body>
<section class="fdb-block fdb-image-bg" style="background-image: url(wedding_register.jpg);" data-block-type="contents" data-id="14">
  <div class="container">
    <div class="row text-left">
      <div class="col-12 col-md-8 col-lg-6 ml-sm-auto">
        <div class="fdb-box fdb-touch">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-8 text-center">
              <h1>WedPhoto Register</h1>
              <p class="text-h3">ユーザアカウントはお持ちですか？</p>
              <p class="text-h3 mt-4"><%= link_to "Register now", new_user_path, class: 'btn btn-round'   %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block team-8" data-block-type="teams" data-id="23">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>What's Wedphoto?</h1>
        <p class="text-h3">This is a photo sharing application for wedding receptions.You can share photos and comments among guests!</p>
      </div>
    </div>

    <div class="row-100"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid" src="smartphone-2212963_640.jpg">
          </div>

          <div class="col-8">
            <h3><strong>今すぐ始めよう！</strong></h3>
            <p class="text-h3">スマートフォンから</p>
            <p>ユーザ登録をすればすぐ始められます！お持ちのスマートフォンから簡単登録♪</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid" src="photomontage-556811_640.jpg">
          </div>

          <div class="col-8">
            <h3><strong>その場にいる人達と写真をシェア</strong></h3>
            <p class="text-h3">楽しみ方</p>

            <p>会場にいる皆でベストショットをその場でシェア！お祝いメッセージを送ることもできます！</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-70"></div>

    <div class="row justify-content-center text-left">
      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid" src="wedding-443600_640.jpg">
          </div>

          <div class="col-8">
            <h3><strong>写真を一箇所に管理</strong></h3>
            <p class="text-h3">簡単・便利</p>
            <p>新郎新婦は沢山の写真を一箇所に保存できます。さらにゲストのお祝いメッセージを見ることもできます！</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row align-items-center">
          <div class="col-4">
            <img alt="image" class="img-fluid" src="projector-428664_640.jpg">
          </div>

          <div class="col-8">
            <h3><strong>思い出に残る演出を</strong></h3>
            <p class="text-h3">リアルタイムで投影</p>

            <p>ギャラリーページをプロジェクターで表示することで、投稿された画像をその場で投影することができます！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</body>
</html>
